@model RockyProject.Models.Category
@{
    ViewData["Title"] = "Create Category";
}

<div class="container">
    <div class="card">
        <div class=" card-header">
            <h2 class="text-center">Add New Category</h2>
        </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DispalyOrder"></label>
                    <input asp-for="DispalyOrder" class="form-control" />
                    <span asp-validation-for="DispalyOrder"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Add Category" />
                <a class="btn btn-outline-success" asp-action="Index">Back To Index</a>
            </form>
        </div>
    </div>
</div>
